<h3 appHighlight> {{product.title | uppercase}} </h3>
<strong> {{product.price | currency}} </strong>
<img [src]="product.image" alt="">
<button (click)="addCart()">Agregar al carrito</button>
<a [routerLink]="['./', product.id]">Ver detalle</a>
<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button routerLink=".">Link</a>